/* You can add global styles to this file, and also import other style files */
.main {
    width:99%;
    margin:auto;
    vertical-align: top;
}
.users{
    float: left;
    width: 40%;
    border: 1px solid yellow;
}
.userDetail {
    border: 1px solid red;
    float: left;
    width: 45%;
}
.btn-save {
    background-color: green;
    color:#fff;
    font-weight: bold;
    padding:5px;
    width:80px;
   
    margin-right:10px;
}
.form-footer{
    text-align: center;
    padding:10px;
}
.form-group{
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}
.form-group label{
    display: inline-block;
    text-align: left;
    padding:5px;
    width: 120px;
}
.form-group input{
    width: 150px;
    text-align: left;
    padding: 5px;
    border: 1px solid #c0c0c0;
}