h1{
    color: green;
    background-color: black;
    padding: 10px;
}
table{
    border:1px solid #c0c0c0;
    border-collapse: collapse;
    
}
th, td {
    padding: 5px;
    border: 1px solid #fff;
}
th{
    background: #000;
    color: green;
    padding: 5px;
}
td{
    background: silver;
    color: red;
}