td {
    padding: 5px;
    border: 1px solid #fff;
    background: silver;
    color: red;
}
button{
    padding: 5px;
    border: 1px solid #222;
    width: 80px;
}
button.delete {
    color: #fff;
    background :red;
}
button.edit {
    color: #fff;
    background:blue;
}
button.update {
    color: #fff;
    background:green;
}